@import './colors.scss';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $body-color;
  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  border-radius: 0;
}

ul {
  list-style: none;
}
